div#container
{
   width: 800px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #F5F5F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}
#PanelMenu1_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   color: #F7F7F7;
   border: 1px #2E2E2E solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background-color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   text-decoration: none;
}
#wb_PanelMenu1 a:hover, #PanelMenu1_markup li a:hover
{
   color: #F7F7F7;
   background-color: #000000;
   border: 1px #2E2E2E solid;
}
#PanelMenu1_panel
{
   background-color: #000000;
   overflow-y: auto;
}
#PanelMenu1
{
   padding-left: 45px;
}
#PanelMenu1:after
{
   position: absolute;
   top: 50%;
   left: 20px;
   width: 25px;
   height: 25px;
   margin-top: -12px;
   content: "\f2b9";
   display: inline-block;
   font-family: FontAwesome;
   font-size: 25px;
   line-height: 25px;
}
#PanelMenu1
{
   line-height: 33px;
   width: 149px;
   height: 33px;
}
#PanelMenu1_markup ul li i
{
   font-size: 25px;
   padding: 0px 10px 0px 0px;
   vertical-align: middle;
   width: 25px;
}
#PanelMenu1_markup span
{
   display: inline-block;
   height: 25px;
   vertical-align: middle;
   line-height: 25px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_PanelMenu3 a, #PanelMenu3_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#PanelMenu3_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu3_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu3_markup li a, #PanelMenu3_markup li a:hover, #PanelMenu3_markup li .active
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}
#PanelMenu3_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_PanelMenu3 a, #PanelMenu3_markup li a
{
   color: #F7F7F7;
   border: 1px #2E2E2E solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background-color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   text-decoration: none;
}
#wb_PanelMenu3 a:hover, #PanelMenu3_markup li a:hover, #PanelMenu3_markup li .active
{
   color: #F7F7F7;
   background-color: #000000;
   border: 1px #2E2E2E solid;
}
#PanelMenu3_panel
{
   background-color: #000000;
   overflow-y: auto;
}
#PanelMenu3
{
   padding-left: 45px;
}
#PanelMenu3:after
{
   position: absolute;
   top: 50%;
   left: 20px;
   width: 25px;
   height: 25px;
   margin-top: -12px;
   content: "\f0f6";
   display: inline-block;
   font-family: FontAwesome;
   font-size: 25px;
   line-height: 25px;
}
#PanelMenu3
{
   line-height: 33px;
   width: 149px;
   height: 33px;
}
#PanelMenu3_markup ul li i
{
   font-size: 25px;
   padding: 0px 10px 0px 0px;
   vertical-align: middle;
   width: 25px;
}
#PanelMenu3_markup span
{
   display: inline-block;
   height: 25px;
   vertical-align: middle;
   line-height: 25px;
}
@media only screen and (max-width: 799px)
{
div#container
{
   width: 1024px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_PanelMenu1
{
   left: 9px !important;
   top: 103px !important;
   width: 194px !important;
   height: 33px !important;
   visibility: hidden !important;
   display: none !important;
}
#PanelMenu1
{
   line-height: 33px;
   width: 149px;
   height: 33px;
}
#wb_Text1
{
   left: 491px !important;
   top: 27px !important;
   width: 273px !important;
   height: 32px !important;
   visibility: hidden !important;
   display: none !important;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   left: 223px !important;
   top: 27px !important;
   width: 126px !important;
   height: 67px !important;
   visibility: hidden !important;
   display: none !important;
}
#wb_Text7
{
   left: 442px !important;
   top: 138px !important;
   width: 367px !important;
   height: 22px !important;
   visibility: hidden !important;
   display: none !important;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_PanelMenu3
{
   left: 6px !important;
   top: 142px !important;
   width: 194px !important;
   height: 33px !important;
   visibility: visible !important;
   display: inline !important;
}
#PanelMenu3
{
   line-height: 33px;
   width: 149px;
   height: 33px;
}
}
